.imagemCabecalho{
    width: 40%;
}

.textoCabecalho{
    justify-content: left;
    width: 60%;
}

.imagemApresentacao{
    border-radius: 50%;
    width: 100%;
    justify-content: center;
    vertical-align: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5;
}

p{
    text-align: justify;
    line-height: 1.5;
}

.titulo{
    font-weight: bold;
    font-size: 22px;
    color: #1E90FF;
    vertical-align:middle
}

.formatoTable{
    font-weight: bold;
    font-size: 22px;
    vertical-align:middle
}

.imagem{
    width: 8%
}

.subtitulo{
    font-weight: bold;
    color: #1E90FF;
    font-size: 16px;
}

.imagemExperiencia{
    width: 30%;
}

.textoTituloExperiencia{
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    font-weight: bold;
    color: #1E90FF;
    font-size: 16px;
    font-weight: bold;
    font-size: 22px;
}

table{
    width: 100%;
    border-style: solid;
}

thead{
    font-weight: bold;
    text-align: center;
    border-style: solid;
}

td{
    text-align: center;
    border-style: solid;
}

.tituloTable{
    font-weight: bold;
}

a:link {
    color: black;
}

a:visited{
    color: RoyalBlue;
}

a:hover {
    color: #000000;
}

.footer {
    text-align: right;
    margin: 2px 5em 0 auto;
}